body {
    margin: 0;
    padding: 0;
    background-image: url('The Rockin Melodies Phone.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    font-family: Arial, sans-serif;
    color: #fff;
}

a {
    text-decoration: none;
    color: #0d638f;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    margin-right: 10px; /* Adjust as needed */
}

.fb-share-button {
    position: relative;
    align-items: center;
}

h2 {
    display: none;
}

.boekingen-button {
    text-align: center;
    font-size: 0.625rem;
    text-decoration: underline;
    font-weight: bold;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Anton', sans-serif;
    color: #fff;
}

footer {
    background-color: #333;
    width: 100%;
    height: 1.25rem;
    color: white;
    text-align: center;
    padding: 0.313rem;
    bottom: 0;
    position: absolute;
}

p {
    text-shadow: 0.125rem 0.125rem 0.313rem black;
    font-weight: bold;
    position: absolute;
    font-size: 0.875rem;
    bottom: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
    font-style: italic;
}

button {
    padding: 0.313rem 0.625rem;
    background-color: black;
    color: white;
    text-shadow: 0.125rem 0.125rem 0.313rem green;
    font-weight: bold;
    font-style: italic;
    border: none;
    border-radius: 0.313rem;
    cursor: pointer;
    margin: 0.625rem 0;
    display: block;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    padding: 1px;
    position: fixed;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    max-width: 100%;
}

.social-icons a {
    text-align: center;
    color: #fff;
    padding: 5px;
    text-decoration: none;
}

.social-icons img {
    max-width: 30px;
    height: auto;
    display: block;
    padding: 15px;
    margin: auto;
}

.facebook-container img {
    max-width: 35px;
    height: 35px;
    display: block;
    padding: 13px;
    margin: auto;
}

.social-icons .phone-container p {
    left: 38px;
}

.social-icons .email-container p {
    left: 138px;
}

.social-icons .facebook-container p {
    left: 238px;
}

.social-icons .whatsapp-container p {
    left: 338px;
}

/* Media query for larger screens (adjust as needed) */
@media screen and (min-width: 896px) {

    /* General mobile styles */
    body {
        margin: 0;
        padding: 0;
        background-image: url('The Rockin Melodies Phone.png');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        overflow: hidden;
        font-family: Arial, sans-serif;
        color: #fff;
    }

    .social-icons {
        display: flex;
        justify-content: space-between;
        background-color: #000;
        padding: 1px;
        position: fixed;
        overflow: hidden;
        bottom: 0;
        width: 100%;
        max-width: 100%;
    }

    .social-icons a {
        text-align: center;
        color: #fff;
        padding: 5px;
        text-decoration: none;
    }

    .social-icons img {
        max-width: 30px;
        height: auto;
        display: block;
        padding: 15px;
        margin: auto;
        filter: brightness(1); /* Adjust brightness to maintain original colors */
    }
    
    /* Add vendor-specific prefixes for filter property */
    .social-icons img {
        -webkit-filter: brightness(1);
        -moz-filter: brightness(1);
        -o-filter: brightness(1);
        -ms-filter: brightness(1);
        filter: brightness(1);
    }    

    .social-icons .phone-container p {
        left: 38px;
    }

    .social-icons .email-container p {
        left: 150px;
    }

    .social-icons .facebook-container p {
        left: 265px;
    }

    .social-icons .whatsapp-container p {
        left: 370px;
    }

    ul {
        justify-content: flex-end; /* Align items to the right on larger screens */
    }

    .fb-share-button {
        margin-left: 10px; /* Adjust as needed */
    }
}