/* mobile.css */

body {
    margin: 0;
    padding: 0;
    background-image: url('The Rockin Melodies.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

a {
    text-shadow: none;
    color: #0d638f;
    display: flex;
    align-items: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fb-share-button {
    width: 3rem;
    height: 1.5rem;
    margin-left: 0.625rem;
    padding: 0.313rem;
    border-radius: 0.313rem;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0.5rem;
    right: 0.625rem;
}

.fb-share-button a {
    color: white;
    font-size: 0.875rem;
    text-decoration: none;
}
